<header>
  <a href="/" class="navbar-link">Home</a>
  <a href="/pokemon/new" class="navbar-link">New Pokemon</a>
</header>

<style media="screen">
  .navbar-link {
    display: inline-block;
  }
</style>
