<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Pokedex</title>
</head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <a href="/new">CREATE</a>
    </nav>
    {{{ body }}}
  </body>
</html>
