<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex Express Post</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1 id="header">Welcome to the Pokedex Express Post</h1>
      <a class="option" href="/?sortby=name">Sort By Name</a>
      <a class="option" href="/">Sort By ID</a>
      <a class="option" href="/new">New Entry</a>
      {{{body}}}
    </div>
  </body>
</html>