<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Pokedex!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> flash }}
  {{{body}}}
</body>
</html>