<!DOCTYPE html>
<html>
<head>
  <title>Pokemon</title>
</head>
<body>
  <form action="/" method="POST">
      ID:<br>
      <input type="text" name="id">
      <br>
      Num:<br>
      <input type="text" name="num">
      <br>
      Name:<br>
      <input type="text" name="name">
      <br>
      Img:<br>
      <input type="text" name="img">
      <br>
      Height:<br>
      <input type="text" name="height">
      <br>
      Weight:<br>
      <input type="text" name="weight">
      <br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>