<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/">
		Id: <input type="text" name="id"><br>
		Num: <input type="text" name="num"><br>
		Name: <input type="text" name="name"><br>
		Img: <input type="text" name="img"><br>
		Height: <input type="text" name="height"><br>
		Weight: <input type="text" name="weight"><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>