<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style_form.css">
    <title>Pokedex New Entry!</title>
</head>

<body>
    <form action="/" method="post">
        <h1>Create new Pokemon!</h1>
        <label for="name">Name: </label>
        <input type="text" name="name">
        <br>
        <label for="img">Image URL: </label>
        <input type="text" name="img">
        <br>
        <label for="height">Height: </label>
        <input type="text" name="height">
        <br>
        <label for="weight">Weight: </label>
        <input type="text" name="weight">
        <br>
        <input type="submit" value="Submit" class="btn-submit">
    </form>
</body>

</html>