<h1>Create new Pokemon!</h1>
<form action="/" method="post">
    <label for="name">Name: </label><input type="text" name="name"><br>
    <label for="img">Image URL: </label><input type="text" name="img"><br>
    <label for="height">Height: </label><input type="text" name="height"><br>
    <label for="weight">Weight: </label><input type="text" name="weight"><br>
    <input type="submit" value="Submit">
</form>