<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="/">
		ID:<input type="text" name="id">
		Number:<input type="text" name="num">
		Name:<input type="text" name="name">
		Img:<input type="text" name="img">
		Height:<input type="text" name="height">
		Weight:<input type="text" name="weight">
		<input type="submit" value="submit">
	</form>
</body>
</html>