<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Pokemon</title>
</head>
<body>
  <form action="/" method="get">
      <button type="submit" name="sortby" value="name">Sort by Name</button>
      <button type="submit" name="sortby" value="id">Sort by ID</button>
  </form>

      <div class="container">
        {{#each pokedex}}
        <div class="row">
          <div class = "image">
            <div>
              <img src={{this.img}}>
            </div>
          </div>
          <div class = "num">
              #{{this.num}}
          </div>
          <div class = "name">
              {{this.name}}
          </div>
        </div>
        {{/each}}
      </div>  

</body>
</html>