<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon Search</title>
</head>
<body>

    <form method="POST" action="/">
      ID:
      <input type="number" name="id" value={{id}}>
      Num: 
      <input type="number" name="num" value={{num}}>
      Pokemon Name:
      <input type="text" name="name">
      Image:
      <input type="text" name="image"> 
      Height:
      <input type="text" name="height">
      Weight:
      <input type="text" name="weight">

      <input type="submit" value="Submit">
    </form>
   
</body>
</html>
