<html>
	<body>
		<h1>Welcome to the Online Pokedex</h1>
		<h2>List of pokemons</h2>

		<a href="/new">Create new pokemon</a>

		<ul class="pokemon_list">

			{{#each pokemon}}
    			<li><a href="/{{this.id}}">
    			{{this.name}}
    			</a></li>
  		 	{{/each}}
		</ul>

	</body>
</html>