<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<style media="screen">
  form {
    margin: 10px;
  }

  input {
    margin: 0 10px 10px 10px;
  }

  p {
    margin: 0 0 0 10px;
  }
</style>

<body>
  <ul class="pokemonnames">
    <% for(var i=0; i<pokemonnames.length; i++) {%>
      <li class="pokeName">
        <span><%= pokemonnames[i].name %></span>
      </li>
      <li>
        <span><%= pokemonnames[i].candy %></span>
      </li>
      <% } %>
  </ul>
      <h1>you reached the form page</h1>
      <form class="" action="/pokemon" method="post">
        <p>ID(152 onwards):</p>
        <input type="number" name="id" autocomplete="off"><br>
        <p>NUM(152 onwards):</p>
        <input type="number" name="num"><br>
        <p>Name:</p>
        <input type="text" name="name" autocomplete="off"><br>
        <p>img path:</p>
        <input type="img" name="img" autocomplete="off"><br>
        <p>Height:</p>
        <input type="number" name="height" autocomplete="off"><br>
        <p>Weight</p>
        <input type="number" name="weight" autocomplete="off"><br>
        <input type="submit" name="" value="Submit"><br>
      </form>
      <a href="http://localhost:3000">go back to index.html</a>
</body>

</html>
