<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<style media="screen">
  form {
    margin: 10px;
  }

  input {
    margin: 0 10px 10px 10px;
  }

  p {
    margin: 0 0 0 10px;
  }
</style>

<body>
  <h1 class="display">
    <%= pokemon.name %>
  </h1>
</body>

</html>
