<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <form class="pokemon-form" method="POST" action="/new">

    <div class="pokemon-attribute">
      id:<input name="id" type="text"/>
    </div>
    <div class="pokemon-attribute">
      num:<input name="num" type="text"/>
    </div>
    <div class="pokemon-attribute">
      name:<input name="name" type="text"/>
    </div>
    <div class="pokemon-attribute">
      img:<input name="img" type="text"/>
    </div>
    <div class="pokemon-attribute">
      height:<input name="height" type="text"/>
    </div>
    <div class="pokemon-attribute">
      weight:<input name="weight" type="text"/>
    </div>
    <div class="pokemon-attribute">
      candy:<input name="candy" type="text"/>
    </div>
    <div class="pokemon-attribute">
      candy_count:<input name="candy_count" type="text"/>
    </div>
    <div class="pokemon-attribute">
      egg:<input name="egg" type="text"/>
    </div>
    <div class="pokemon-attribute">
      avg_spwans:<input name="avg_spawns" type="text"/>
    </div>
    <div class="pokemon-attribute">
      spawn_time:<input name="spawn_time" type="text"/>
    </div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>

