
<form method="POST" action="/">
  <div>
    ID: <input type="text" name="id" value="{{updatedID}}">
  </div>
  <div>
    NUM: <input type="text" name="num" value={{updatedNum}}>
  </div>
  <div>
    NAME: <input type="text" name="name">
  </div>
  <div>
    IMG: <input type="text" name="img">
  </div>
  <div>
    HEIGHT: <input type="text" name="height">
  </div>
  <div>
    WEIGHT: <input type="text" name="weight">
  </div>
  <div>
    <input type="submit">
  </div>

</form>
