<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>

<form action="/" method="POST">
  Pokemon ID:
  <input type="text" name="id" value="{{id}}" readonly>
  <br>

  Pokemon number:
  <input type="text" name="num" value="{{num}}" readonly>
  <br>

  Pokemon Name:
  <input type="text" name="name" value="name">
  <br>

  Image link:
  <input type="text" name="img" value="img">
  <br>

  Height:
  <input type="text" name="height" value="height">
  <br>

  Weight:
  <input type="text" name="weight" value="weight">
  <br>

  <input type="submit" value="Submit">
</form> 

</body>
</html>