<body>
    
    <form action="/" method="post">
        ID: <input type="text" name="id"><br><br>
        Num: <input type="text" name="num"><br><br>
        Name: <input type="text" name="name"><br><br>
        Img: <input type="text" name="img"><br><br>
        Height: <input type="text" name="height"><br><br>
        Weight: <input type="text" name="weight"><br><br>
        <button type="submit">CREATE this POKEMON!</button>
    </form>

</body>