<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <form method="get" action="/">
  <input type="hidden" name="sortby" value="name" /> 
  <input type="submit" value="Sort pokemons by name"> 
  </form>

  <ul class="pokemon_list">
    {{#each pokemon}}
      <li>{{this.name}}</li>
      <li>{{this.num}}</li>
      <li>{{this.img}}</li>
    {{/each}}
  </ul>
</body>
</html>
