<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Create Pokemon</title>
</head>
<body>
      Create your pokemon!
      <form action="/" method="POST"> <br>
      ID:<input type="text" name="id" readonly value="{{idCount}}"> <br>
      Num:<input type="text" name="num" readonly value="{{numCount}}"> <br>
      Name:<input type="text" name="name"> <br>
      Image:<input type="text" name="image"> <br>
      Height:<input type="text" name="height"> <br>
      Weight:<input type="text" name="WEIGHT"> <br>
      <input type="submit">

      </form>


      {{contextValue}}
</body>
</html>