* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 840px;
    height: 80%;
    overflow: hidden;
}

#btn-reveal {
    margin:0 auto;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align:center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#btn-sort {
    display:inline-block;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26, 124, 170);
    height: 3em;
    color: white;
    line-height: 3em;
    width: 350px;
    margin: 1.5em 0 1.5em 0;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 3em;
}

.pokemon {
    width: 200px;
    align-self: middle;
    justify-self: center;
}

.pokemon > img {
    width: 200px;
    height: 200px;
    background-color: #ddd;
}

.pokemon-number {
    margin: 0.5em 0 0.5em 16px;
    font-weight: 400;
    color: #555;
}

.pokemon-number::before{
    content: "#";
}

.pokemon-name {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0.5em 0 0.5em 16px;
}

@media (max-width: 860px) {
    .container {
        margin: 0 auto;
        width: 630px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    .container {
        margin: 0 auto;
        width: 410px;
    }

    #btn-sort {
        width: 35%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 1.5em;
    }
}

