body {
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

a {
	color: #333;
}



input,
select{
	padding: 4px;
	width: 200px;
	height: 28px;
	font-size: 16px;
	margin-bottom: 2rem;
}
button {
	height: 24px;
	width: 100px;
	background-color: #CCC;
	margin-right: 1rem;
}