<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome To Pokedex!</title>
</head>

<body>
    <form method="POST" action="/pokemon/edit">
        <h1>Which pokemon ID do you want to edit?</h1>
        <div>
            <label>ID</label>
            <input type="text" name="id">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>