<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/pokemon/edit/">
        <div>
            <label>Which pokemon ID do you want to edit?</label>
            <input type="text" name="id">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>