<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome To Pokedex!</title>
</head>

<body>
    <form method="GET" action="/">
        <input type="hidden" name="sortby" value="name">
        <h1>Welcome To Pokedex!</h1>
        <div>
            <label>Sort the pokemons by name</label>
            <input type="submit" value="Sort">
        </div>
    </form>
    <ul>
        {{#each pokemonList}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>

</html>