<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/pokemon/new/">
        <div>
            <label>ID</label>
            <input type="text" name="id">
        </div>
        <div>
            <label>Number</label>
            <input type="text" name="num">
        </div>
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Image</label>
            <input type="text" name="img">
        </div>
        <div>
            <label>Height</label>
            <input type="text" name="height">
        </div>
        <div>
            <label>Weight</label>
            <input type="text" name="weight">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>