body {
	font-family: 'Ubuntu', sans-serif;	/* weight 300 and 400 */
	width: 80%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#header-img {
	width: 350px;
	margin: 0 0 -50px 0;
}

/* container holding all the poke cards */
#pokemon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* individual pkmn cards */
.pokemon-card {
	  width: 150px;
    margin: 10px 20px;
}

.pokemon-card a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}

.pokemon-card p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	margin: 5px;
}

.pokemon-card h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15pt;
	font-weight: 400;
	margin: 5px;
}

.pokemon-card img {
	background-color: #F2F2F2;
	width: 100%;
	border-radius: 10px;
}

form {
	margin: 15px;
}

.edit-mon h2, .create-mon h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	margin: 30px 0px 10px 0;
}

.edit-mon img, .create-mon img {
	margin-bottom: -20px;
}