<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Pokemon</title>
  </head>
  <body>
    <h1>Create a New Pokemon</h1></br>

    <form action="/pokemon" method="post">
      <label for="pokemon-name">Pokemon Name</label>
      <input type="text" name="name"></br>

      <label for="pokemon-image">Pokemon Image</label>
      <input type="file" name="img"></br>

      <label for="pokemon-height">Pokemon Height</label>
      <input type="number" name="height"></br>

      <label for="pokemon-weight">Pokemon Weight</label>
      <input type="number" name="weight"></br>

      <input type="submit" value="Create a Pokemon!">
    </form>
  </body>
</html>
